body {
  background-image: linear-gradient(to left,#98daf9, #7295ff);
  

}
.n{
  margin-inline: 15px;
}
.r{
  margin-inline: 15px;
  text-transform: capitalize;
}
.u{
  margin-inline: 15px;
}
#logout{
  margin-inline: 12px;
}

